// **************************************
// FLEXBOX STYLES
// **************************************
@use "../utilities/mixins" as *;

.flex__container,
.flex__container--intro,
.flex__container--between {
  @include flex_me($wrap: wrap);
}

.flex__container {
  justify-content: center;
  align-content: flex-start;
}

.flex__container--intro {
  flex-direction: column;
  align-items: center;
}

.flex__container--between {
  justify-content: space-between;
}
