// **************************************
// FOOTER STYLES
// **************************************
@use "../utilities/variables" as v;

.footer__container {
  img {
    padding: 1.8rem 0;
  }
  p {
    font-size: 0.75rem;
    line-height: 1.3;
    padding-bottom: 1rem;
    a {
      color: v.$color-text-footer;
      display: inline;
      border-bottom: 1px solid v.$color-text-footer;
    }
  }
}
